<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="es.uclm.sri.persistencia.postgre.dao.PesosalbumMapper">
	<resultMap id="BaseResultMap"
		type="es.uclm.sri.persistencia.postgre.dao.model.Pesosalbum">
		<id column="ID_PESOSALBUM" property="ID_PESOSALBUM" jdbcType="INTEGER" />
		<result column="ALBUM" property="ALBUM" jdbcType="VARCHAR" />
		<result column="ARTISTA" property="ARTISTA" jdbcType="VARCHAR" />
		<result column="SINGLE" property="SINGLE" jdbcType="DOUBLE" />
		<result column="RAP" property="RAP" jdbcType="DOUBLE" />
		<result column="AMBIENT" property="AMBIENT" jdbcType="DOUBLE" />
		<result column="INDIE" property="INDIE" jdbcType="DOUBLE" />
		<result column="BLUES" property="BLUES" jdbcType="DOUBLE" />
		<result column="REGGAE" property="REGGAE" jdbcType="DOUBLE" />
		<result column="PUNK" property="PUNK" jdbcType="DOUBLE" />
		<result column="HEAVY" property="HEAVY" jdbcType="DOUBLE" />
		<result column="ALTERNATIVE" property="ALTERNATIVE" jdbcType="DOUBLE" />
		<result column="CLASSIC" property="CLASSIC" jdbcType="DOUBLE" />
		<result column="ELECTRONIC" property="ELECTRONIC" jdbcType="DOUBLE" />
		<result column="ROCK" property="ROCK" jdbcType="DOUBLE" />
		<result column="POP" property="POP" jdbcType="DOUBLE" />
		<result column="BRIT" property="BRIT" jdbcType="DOUBLE" />
		<result column="FOLK" property="FOLK" jdbcType="DOUBLE" />
		<result column="FUNK" property="FUNK" jdbcType="DOUBLE" />
		<result column="INSTRUMENTAL" property="INSTRUMENTAL" jdbcType="DOUBLE" />
		<result column="GRUNGE" property="GRUNGE" jdbcType="DOUBLE" />
		<result column="ID_DALBUM_FK" property="ID_DALBUM_FK" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		"ID_PESOSALBUM", "ALBUM", "ARTISTA", "SINGER", "RAP", "AMBIENT", "INDIE", "BLUES", "REGGAE",
		"PUNK", "HEAVY", "ALTERNATIVE", "CLASSIC", "ELECTRONIC", "ROCK", "POP", "BRIT", "FOLK",
		"FUNK", "INSTRUMENTAL", "GRUNGE", "ID_DALBUM_FK"
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select 'false' as QUERYID,
		<include refid="Base_Column_List" />
		from "PESOSALBUM"
		where "ID_PESOSALBUM" = #{ID_PESOSALBUM,jdbcType=INTEGER}
	</select>
	<select id="selectByAlbum" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select 'false' as QUERYID,
		<include refid="Base_Column_List" />
		from "PESOSALBUM"
		where "ALBUM" = #{ALBUM,jdbcType=VARCHAR}
	</select>
	<select id="selectByArtista" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select 'false' as QUERYID,
		<include refid="Base_Column_List" />
		from "PESOSALBUM"
		where "ARTISTA" = #{ARTISTA,jdbcType=VARCHAR}
	</select>
	<select id="selectByAlbumYArtista" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select 'false' as QUERYID,
		<include refid="Base_Column_List" />
		from "PESOSALBUM"
		where "ALBUM" = #{ALBUM,jdbcType=VARCHAR} and "ARTISTA" = #{ARTISTA,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from "PESOSALBUM"
		where "ID_PESOSALBUM" = #{ID_PESOSALBUM,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="es.uclm.sri.persistencia.postgre.dao.model.Pesosalbum"
		useGeneratedKeys="true" keyProperty="ID_PESOSALBUM">
		insert into "PESOSALBUM" ("ALBUM", "ARTISTA", "SINGER", "RAP", "AMBIENT",
		"INDIE", "BLUES", "REGGAE", "PUNK", "HEAVY", "ALTERNATIVE", "CLASSIC", "ELECTRONIC",
		"ROCK", "POP", "BRIT", "FOLK", "FUNK", "INSTRUMENTAL", "GRUNGE")
		values (#{ALBUM,jdbcType=VARCHAR}, #{ARTISTA,jdbcType=VARCHAR},
		#{SINGER,jdbcType=DOUBLE}, #{RAP,jdbcType=DOUBLE}, #{AMBIENT,jdbcType=DOUBLE},
		#{INDIE,jdbcType=DOUBLE}, #{BLUES,jdbcType=DOUBLE},
		#{REGGAE,jdbcType=DOUBLE}, #{PUNK,jdbcType=DOUBLE},
		#{HEAVY,jdbcType=DOUBLE}, #{ALTERNATIVE,jdbcType=DOUBLE},
		#{CLASSIC,jdbcType=DOUBLE},#{ELECTRONIC,jdbcType=DOUBLE},#{ROCK,jdbcType=DOUBLE},
		#{POP,jdbcType=DOUBLE}, #{BRIT,jdbcType=DOUBLE}, 
		#{FOLK,jdbcType=DOUBLE}, #{FUNK,jdbcType=DOUBLE},
		#{INSTRUMENTAL,jdbcType=DOUBLE}, #{REGGAE,jdbcType=DOUBLE})
	</insert>
	<insert id="insertSelective"
		parameterType="es.uclm.sri.persistencia.postgre.dao.model.Pesosalbum">
		insert into "PESOSALBUM"
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ALBUM != null">
				"ALBUM",
			</if>
			<if test="ARTISTA != null">
				"ARTISTA",
			</if>
			<if test="SINGER != null">
				"SINGER",
			</if>
			<if test="RAP != null">
				"RAP",
			</if>
			<if test="AMBIENT != null">
				"AMBIENT",
			</if>
			<if test="INDIE != null">
				"INDIE",
			</if>
			<if test="BLUES != null">
				"BLUES",
			</if>
			<if test="REGGAE != null">
				"REGGAE",
			</if>
			<if test="PUNK != null">
				"PUNK",
			</if>
			<if test="HEAVY != null">
				"HEAVY",
			</if>
			<if test="ALTERNATIVE != null">
				"ALTERNATIVE",
			</if>
			<if test="CLASSIC != null">
				"CLASSIC",
			</if>
			<if test="ELECTRONIC != null">
				"ELECTRONIC",
			</if>
			<if test="ROCK != null">
				"ROCK",
			</if>
			<if test="POP != null">
				"POP",
			</if>
			<if test="BRIT != null">
				"BRIT",
			</if>
			<if test="FOLK != null">
				"FOLK",
			</if>
			<if test="FUNK != null">
				"FUNK",
			</if>
			<if test="INSTRUMENTAL != null">
				"INSTRUMENTAL",
			</if>
			<if test="GRUNGE != null">
				"GRUNGE"
			</if>
			<if test="GRUNGE != null">
				"ID_DALBUM_FK"
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="ALBUM != null">
				#{ALBUM,jdbcType=VARCHAR},
			</if>
			<if test="ARTISTA != null">
				#{ARTISTA,jdbcType=VARCHAR},
			</if>
			<if test="SINGER != null">
				#{SINGER,jdbcType=DOUBLE},
			</if>
			<if test="RAP != null">
				#{RAP,jdbcType=DOUBLE},
			</if>
			<if test="AMBIENT != null">
				#{AMBIENT,jdbcType=DOUBLE},
			</if>
			<if test="INDIE != null">
				#{INDIE,jdbcType=DOUBLE},
			</if>
			<if test="BLUES != null">
				#{BLUES,jdbcType=DOUBLE},
			</if>
			<if test="REGGAE != null">
				#{REGGAE,jdbcType=DOUBLE},
			</if>
			<if test="PUNK != null">
				#{PUNK,jdbcType=DOUBLE},
			</if>
			<if test="HEAVY != null">
				#{HEAVY,jdbcType=DOUBLE},
			</if>
			<if test="ALTERNATIVE != null">
				#{ALTERNATIVE,jdbcType=DOUBLE},
			</if>
			<if test="CLASSIC != null">
				#{CLASSIC,jdbcType=DOUBLE},
			</if>
			<if test="ELECTRONIC != null">
				#{ELECTRONIC,jdbcType=DOUBLE},
			</if>
			<if test="ROCK != null">
				#{ROCK,jdbcType=DOUBLE},
			</if>
			<if test="POP != null">
				#{POP,jdbcType=DOUBLE},
			</if>
			<if test="BRIT != null">
				#{BRIT,jdbcType=DOUBLE},
			</if>
			<if test="FOLK != null">
				#{FOLK,jdbcType=DOUBLE},
			</if>
			<if test="FUNK != null">
				#{FUNK,jdbcType=DOUBLE},
			</if>
			<if test="INSTRUMENTAL != null">
				#{INSTRUMENTAL,jdbcType=DOUBLE},
			</if>
			<if test="GRUNGE != null">
				#{GRUNGE,jdbcType=DOUBLE}
			</if>
			<if test="GRUNGE != null">
				#{"ID_DALBUM_FK",jdbcType=DOUBLE}
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="es.uclm.sri.persistencia.postgre.dao.model.Pesosalbum">
		update "PESOSALBUM"
		<set>
			<if test="ALBUM != null">
				#{ALBUM,jdbcType=VARCHAR},
			</if>
			<if test="ARTISTA != null">
				#{ARTISTA,jdbcType=VARCHAR},
			</if>
			<if test="ROCK != null">
				#{ROCK,jdbcType=DOUBLE},
			</if>
			<if test="INDIE != null">
				#{INDIE,jdbcType=DOUBLE},
			</if>
			<if test="ALTERNATIVE != null">
				#{ALTERNATIVE,jdbcType=DOUBLE},
			</if>
			<if test="POP != null">
				#{POP,jdbcType=DOUBLE},
			</if>
			<if test="ELECTRONIC != null">
				#{ELECTRONIC,jdbcType=DOUBLE},
			</if>
			<if test="BRIT != null">
				#{BRIT,jdbcType=DOUBLE},
			</if>
			<if test="FUNK != null">
				#{FUNK,jdbcType=DOUBLE},
			</if>
			<if test="RAP != null">
				#{RAP,jdbcType=DOUBLE},
			</if>
			<if test="FOLK != null">
				#{FOLK,jdbcType=DOUBLE},
			</if>
			<if test="SINGLE != null">
				#{SINGLE,jdbcType=DOUBLE},
			</if>
			<if test="HEAVY != null">
				#{HEAVY,jdbcType=DOUBLE},
			</if>
			<if test="BLUES != null">
				#{BLUES,jdbcType=DOUBLE},
			</if>
			<if test="GRUNGE != null">
				#{GRUNGE,jdbcType=DOUBLE},
			</if>
			<if test="CLASSIC != null">
				#{CLASSIC,jdbcType=DOUBLE},
			</if>
			<if test="PUNK != null">
				#{PUNK,jdbcType=DOUBLE},
			</if>
			<if test="INSTRUMENTAL != null">
				#{INTRUMENTAL,jdbcType=DOUBLE},
			</if>
			<if test="AMBIENT != null">
				#{AMBIENT,jdbcType=DOUBLE},
			</if>
			<if test="REGGAE != null">
				#{REGGAE,jdbcType=DOUBLE},
			</if>
		</set>
		where ID_PESOSALBUM = #{ID_PESOSALBUM,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="es.uclm.sri.persistencia.postgre.dao.model.Pesosalbum">
		update "PESOSALBUM"
		set ALBUM = #{ALBUM,jdbcType=VARCHAR},
		ARTISTA = #{ARTISTA,jdbcType=VARCHAR},
		ROCK = #{ROCK,jdbcType=DOUBLE},
		INDIE = #{INDIE,jdbcType=DOUBLE},
		ALTERNATIVE = #{ALTERNATIVE,jdbcType=DOUBLE},
		POP = #{POP,jdbcType=DOUBLE},
		ELECTRONIC = #{ELECTRONIC,jdbcType=DOUBLE},
		BRIT = #{BRIT,jdbcType=SMALLINT},
		FUNK = #{FUNK,jdbcType=DOUBLE},
		RAP = #{RAP,jdbcType=DOUBLE},
		FOLK = #{FOLK,jdbcType=DOUBLE},
		SINGLE = #{SINGLE,jdbcType=DOUBLE},
		HEAVY = #{HEAVY,jdbcType=DOUBLE},
		BLUES = #{BLUES,jdbcType=DOUBLE},
		GRUNGE = #{GRUNGE,jdbcType=DOUBLE},
		CLASSIC = #{CLASSIC,jdbcType=DOUBLE},
		PUNK = #{PUNK,jdbcType=DOUBLE},
		INSTRUMENTAL = #{INTRUMENTAL,jdbcType=DOUBLE},
		AMBIENT = #{AMBIENT,jdbcType=DOUBLE},
		REGGAE = #{REGGAE,jdbcType=DOUBLE},
		where ID_PESOSALBUM = #{ID_PESOSALBUM,jdbcType=INTEGER}
	</update>
</mapper>