<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="es.uclm.sri.persistencia.postgre.dao.VpesosuserMapper" >
  <resultMap id="BaseResultMap" type="es.uclm.sri.persistencia.postgre.dao.model.Vpesosuser" >
    <id column="ID_VPESOSU" property="ID_VPESOSU" jdbcType="INTEGER" />
    <result column="ID_USERAPP_FK" property="ID_USERAPP_FK" jdbcType="INTEGER" />
    <result column="FECHSESI" property="FECHSESI" jdbcType="DATE" />
    <result column="VPESO1" property="VPESO1" jdbcType="SMALLINT" />
    <result column="VPESO2" property="VPESO2" jdbcType="SMALLINT" />
    <result column="VPESO3" property="VPESO3" jdbcType="SMALLINT" />
    <result column="VPESO4" property="VPESO4" jdbcType="SMALLINT" />
    <result column="VPESO5" property="VPESO5" jdbcType="SMALLINT" />
    <result column="VPESO6" property="VPESO6" jdbcType="SMALLINT" />
    <result column="VPESO7" property="VPESO7" jdbcType="SMALLINT" />
    <result column="VPESO8" property="VPESO8" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID_VPESOSU, ID_USERAPP_FK, FECHSESI, VPESO1, VPESO2, VPESO3, VPESO4, VPESO5, VPESO6, 
    VPESO7, VPESO8
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from VPESOSUSER
    where ID_VPESOSU = #{ID_VPESOSU,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from VPESOSUSER
    where ID_VPESOSU = #{ID_VPESOSU,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="es.uclm.sri.persistencia.postgre.dao.model.Vpesosuser" >
    insert into VPESOSUSER (ID_VPESOSU, ID_USERAPP_FK, FECHSESI, 
      VPESO1, VPESO2, VPESO3, 
      VPESO4, VPESO5, VPESO6, 
      VPESO7, VPESO8)
    values (#{ID_VPESOSU,jdbcType=INTEGER}, #{ID_USERAPP_FK,jdbcType=INTEGER}, #{FECHSESI,jdbcType=DATE}, 
      #{VPESO1,jdbcType=SMALLINT}, #{VPESO2,jdbcType=SMALLINT}, #{VPESO3,jdbcType=SMALLINT}, 
      #{VPESO4,jdbcType=SMALLINT}, #{VPESO5,jdbcType=SMALLINT}, #{VPESO6,jdbcType=SMALLINT}, 
      #{VPESO7,jdbcType=SMALLINT}, #{VPESO8,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="es.uclm.sri.persistencia.postgre.dao.model.Vpesosuser" >
    insert into VPESOSUSER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID_VPESOSU != null" >
        ID_VPESOSU,
      </if>
      <if test="ID_USERAPP_FK != null" >
        ID_USERAPP_FK,
      </if>
      <if test="FECHSESI != null" >
        FECHSESI,
      </if>
      <if test="VPESO1 != null" >
        VPESO1,
      </if>
      <if test="VPESO2 != null" >
        VPESO2,
      </if>
      <if test="VPESO3 != null" >
        VPESO3,
      </if>
      <if test="VPESO4 != null" >
        VPESO4,
      </if>
      <if test="VPESO5 != null" >
        VPESO5,
      </if>
      <if test="VPESO6 != null" >
        VPESO6,
      </if>
      <if test="VPESO7 != null" >
        VPESO7,
      </if>
      <if test="VPESO8 != null" >
        VPESO8,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID_VPESOSU != null" >
        #{ID_VPESOSU,jdbcType=INTEGER},
      </if>
      <if test="ID_USERAPP_FK != null" >
        #{ID_USERAPP_FK,jdbcType=INTEGER},
      </if>
      <if test="FECHSESI != null" >
        #{FECHSESI,jdbcType=DATE},
      </if>
      <if test="VPESO1 != null" >
        #{VPESO1,jdbcType=SMALLINT},
      </if>
      <if test="VPESO2 != null" >
        #{VPESO2,jdbcType=SMALLINT},
      </if>
      <if test="VPESO3 != null" >
        #{VPESO3,jdbcType=SMALLINT},
      </if>
      <if test="VPESO4 != null" >
        #{VPESO4,jdbcType=SMALLINT},
      </if>
      <if test="VPESO5 != null" >
        #{VPESO5,jdbcType=SMALLINT},
      </if>
      <if test="VPESO6 != null" >
        #{VPESO6,jdbcType=SMALLINT},
      </if>
      <if test="VPESO7 != null" >
        #{VPESO7,jdbcType=SMALLINT},
      </if>
      <if test="VPESO8 != null" >
        #{VPESO8,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="es.uclm.sri.persistencia.postgre.dao.model.Vpesosuser" >
    update VPESOSUSER
    <set >
      <if test="ID_USERAPP_FK != null" >
        ID_USERAPP_FK = #{ID_USERAPP_FK,jdbcType=INTEGER},
      </if>
      <if test="FECHSESI != null" >
        FECHSESI = #{FECHSESI,jdbcType=DATE},
      </if>
      <if test="VPESO1 != null" >
        VPESO1 = #{VPESO1,jdbcType=SMALLINT},
      </if>
      <if test="VPESO2 != null" >
        VPESO2 = #{VPESO2,jdbcType=SMALLINT},
      </if>
      <if test="VPESO3 != null" >
        VPESO3 = #{VPESO3,jdbcType=SMALLINT},
      </if>
      <if test="VPESO4 != null" >
        VPESO4 = #{VPESO4,jdbcType=SMALLINT},
      </if>
      <if test="VPESO5 != null" >
        VPESO5 = #{VPESO5,jdbcType=SMALLINT},
      </if>
      <if test="VPESO6 != null" >
        VPESO6 = #{VPESO6,jdbcType=SMALLINT},
      </if>
      <if test="VPESO7 != null" >
        VPESO7 = #{VPESO7,jdbcType=SMALLINT},
      </if>
      <if test="VPESO8 != null" >
        VPESO8 = #{VPESO8,jdbcType=SMALLINT},
      </if>
    </set>
    where ID_VPESOSU = #{ID_VPESOSU,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="es.uclm.sri.persistencia.postgre.dao.model.Vpesosuser" >
    update VPESOSUSER
    set ID_USERAPP_FK = #{ID_USERAPP_FK,jdbcType=INTEGER},
      FECHSESI = #{FECHSESI,jdbcType=DATE},
      VPESO1 = #{VPESO1,jdbcType=SMALLINT},
      VPESO2 = #{VPESO2,jdbcType=SMALLINT},
      VPESO3 = #{VPESO3,jdbcType=SMALLINT},
      VPESO4 = #{VPESO4,jdbcType=SMALLINT},
      VPESO5 = #{VPESO5,jdbcType=SMALLINT},
      VPESO6 = #{VPESO6,jdbcType=SMALLINT},
      VPESO7 = #{VPESO7,jdbcType=SMALLINT},
      VPESO8 = #{VPESO8,jdbcType=SMALLINT}
    where ID_VPESOSU = #{ID_VPESOSU,jdbcType=INTEGER}
  </update>
</mapper>